## Copyright 2024-2026 by John A Kline
## See LICENSE.txt for your rights
#errorCatcher Echo
#encoding UTF-8
#set $g = $xtide.graph()
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tidal Events</title>
    <meta name="description" content="Tide forecasts.">
    <link rel="stylesheet" href="xtide.css">
  </head>
  <body>
    <div class="xg-page">
#if $g
      <div class="xg-title">$g.location</div>
      <div class="xg-tabs">
        <button type="button" class="xg-tab xg-active" data-view="day">2 Days</button>
        <button type="button" class="xg-tab" data-view="week">7 Days</button>
        <button type="button" class="xg-tab" data-view="month">30 Days</button>
      </div>
      <div class="xg-wrap" id="xg-wrap-day">
        $g.svg_day
        <div class="xg-tooltip" id="xg-tip-day"></div>
      </div>
      <div class="xg-wrap xg-hidden" id="xg-wrap-week">
        $g.svg_week
        <div class="xg-tooltip" id="xg-tip-week"></div>
      </div>
      <div class="xg-wrap xg-hidden" id="xg-wrap-month">
        $g.svg_month
        <div class="xg-tooltip" id="xg-tip-month"></div>
      </div>
      <table class="xg-events">
#for $ev in $g.events
        <tr class="xg-evrow" data-ts="$ev.ts">
          <td class="xg-evicon"><img src="xtide_icons/$ev.icon" alt="$ev.eventType"></td>
          <td class="xg-evlevel">$ev.level_str</td>
          <td class="xg-evtype">$ev.eventType</td>
          <td class="xg-evtime">$ev.time_str</td>
        </tr>
#end for
      </table>
      <div class="xg-count" id="xg-count"></div>
      <div class="xg-credits">
        <div>XTide 2 Copyright &copy; 1998 David Flater</div>
        <div>U.S.A. Harmonics from National Ocean Service</div>
        <div>Icons by <a href="https://www.jchiaworks.com/">JChiaWorks</a></div>
      </div>
      <script>var XTIDE_DATA = $g.json;</script>
      <script src="xtide.js"></script>
#else
      <div class="xg-title">Tidal Events</div>
      <p class="xg-empty">No tidal data to display.  Check the system log, and verify that the
      tide program runs as the WeeWX user and that the location in weewx.conf is valid.</p>
#end if
    </div>
  </body>
</html>
